<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <p>{{screamIt pageTitle}}</p>
    <p> We'll be right back </p>
  </body>
  {{> footer}}
</html>